catboost_info/
dataset/
data_checkpoint.pickle
solver_checkpoint.pickle
notes.txt
main.ipynb
cat_mapping.pickle
catcols.pickle
openfe_tmp_data.feather
submission.parquet
data_checkpoint_200.pickle
solver_checkpoint_200.pickle
rmse_mask.pickle